allure-python-commons==2.8.18
allure-robotframework==2.8.18
Appium-Python-Client==1.0.2
robotframework==3.2.2
robotframework-appiumlibrary==1.5.0.6
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.3.1
robotframework-pabot==1.10.0
robotframework-pythonlibcore==2.1.0
robotframework-requests==0.7.1
robotframework-seleniumlibrary==4.5.0
selenium==3.141.0